* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    background: black;
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}
img {
    display: none;
}