@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}
img {
    display: none;
}
button {
    padding: 10px;
    font-size: 40px;
    margin: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    transition: all .3s ease;
}
button:hover {
    color: black;
    background-color: white;
}